upstream {{ app_name }} {
  {% for server in groups.appserver %}
    server {{ server }};
  {% endfor %}
}

proxy_cache_path /home/ansible/sliceit_cache levels=1:2 keys_zone=sliceit_app_cache:5m max_size=1g inactive=60m use_temp_path=off;


server {
  listen 80;
  #ssl on;
  #server_name localhost;

  #ssl_certificate /opt/cert/localhost.crt;
  #ssl_certificate_key /opt/cert/localhost.key;
  #ssl_dhparam /opt/cert/dhparams.pem;

  location /internal {
  {% for server in groups.appserver %}
    allow {{ ansible_default_ipv4.address }};
  {% endfor %}
    deny all;
    proxy_pass http://{{ app_name }};
  }

  location /cached {
    # Add cache debugging header
    add_header X-Cache-Status $upstream_cache_status;

    # Configure cache
    proxy_cache sliceit_app_cache;
    proxy_cache_revalidate on;
    proxy_cache_min_uses 3;
    proxy_cache_valid 200 301 302 60m;
    proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
    proxy_cache_background_update on;
    proxy_cache_lock on;
    proxy_pass http://{{ app_name }};
  }

  location /external {
    proxy_pass http://{{ app_name }};
  }

  if ($request_method !~ ^(GET|HEAD|POST)$ )
  {
     return 405;
  }

  ## Block download agents ##
	if ($http_user_agent ~* LWP::Simple|wget) {
            return 403;
  }

	## Block some robots ##
  if ($http_user_agent ~* msnbot|scrapbot) {
            return 403;
  }

}
